body {
  background-color: #d5d5d5;
}
.flag-group {
  display: inline-block;
  margin: 0px 15px 15px 0;
}

.flag {
  background-color: #fff;
  height: 350px;
  width: 300px;
  border-radius: 10px;
}
img {
  height: 200px;
  width: 300px;
  border-radius: 10px 10px 0 0;
}
h3 {
  margin-left: 10px;
}
p {
  font-size: 12px;
  margin-left: 10px;
}
